@using BlueSignal.Controllers;
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var btnClass = "btnGetData";
    var activeTab = "BluFractal";
    if (ViewBag.activeTab != null)
    {
        activeTab = Convert.ToString(ViewBag.activeTab);
    }
}

<ul id="AllTables" class="nav nav-tabs">

    @if (HttpContextSessionWrapperExtension.SessionUser.IsBluFactrol)
    {
        <li id="liBluFractal" class="active"><a class="blufractal" id="blude_code" data-toggle="tab" href="#BluFractal"><span>Blu</span>Fractal</a></li>
    }
    else
    {
        <li id="liBluFractal" class="active disabled" data-toggle="tooltip" title="@HttpContextSessionWrapperExtension.UnAuthorizedUserAccessMessage"><a class="blufractal" id="blude_code" data-toggle="tab" href="#BluFractal"><span>Blu</span>Fractal</a></li>
    }

    @if (HttpContextSessionWrapperExtension.SessionUser.IsBluNeutral)
    {
        <li id="liBluNeural"><a class="bluneural" id="blueNureal_codeD" data-toggle="tab" href="#BluNeural"><span>Blu</span>Neural</a></li>
    }
    else
    {
        <li id="liBluNeural" data-toggle="tooltip" title="@HttpContextSessionWrapperExtension.UnAuthorizedUserAccessMessage"><a class="bluneural disabled" id="blueNureal_codeD" data-toggle="tab" href="#"><span>Blu</span>Neural</a></li>
    }

    @if (HttpContextSessionWrapperExtension.SessionUser.IsBluCombo)
    {
        <li id="liBluFractal_BluNeural"><a class="BluFractal_BluNeural" id="blueCombo_codeBD" data-toggle="tab" href="#BluFractal_BluNeural"><span class="combo"><span class="bf_icon"></span>&nbsp;<span class="bn_icon"></span></span> <span class="combo_txt">Combo</span></a></li>
    }
    else
    {
        <li id="liBluFractal_BluNeural" data-toggle="tooltip" title="@HttpContextSessionWrapperExtension.UnAuthorizedUserAccessMessage"><a class="BluFractal_BluNeural disabled" id="blueCombo_codeBD" data-toggle="tab" href="#"><span class="combo"><span class="bf_icon"></span>&nbsp;<span class="bn_icon"></span></span> <span class="combo_txt">Combo</span></a></li>
    }
    @if (HttpContextSessionWrapperExtension.SessionUser.IsBluQuant)
    {
        <li id="liBluQuant" onclick="RebindBuleQuentData('SPY');"><a class="bluquant" id="blueQuote_codeDquent" data-toggle="tab" href="#BluQuant"><span>Blu</span>Quant</a></li>
    }
    else
    {
        <li id="liBluQuant" data-toggle="tooltip" title="@HttpContextSessionWrapperExtension.UnAuthorizedUserAccessMessage"><a class="bluquant disabled" id="blueQuote_codeDquent" data-toggle="tab" href="#"><span>Blu</span>Quant</a></li>
    }

    @*<li class="pull-right help"><a href="@Url.Action("","Help")" data-toggle="tooltip" title="Help" target="_blank"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a></li>*@
    @*<li class="pull-right"><a class="detail" data-toggle="tab" title="Detail" href="#Details" onclick="return OpenPopupWithTheQuote();"></a></li>*@
    @*<li class="pull-right"><a class="detail tooltips" data-toggle="tab" href="#Details"><span class="tiptext">Detail</span></a></li>*@
    <li class="pull-right"><a class="detail tooltips" href="http://www.marketwatch.com/" target="_blank"><span class="tiptext">Detail</span></a></li>

    <li class="pull-right">@*<a class="data" data-toggle="tooltip" title="Data" href="#Data"></a>*@</li>

    <li id="liMarketDataLists" class="pull-right"><a class="data MarketDataLists tooltips" data-toggle="tab" href="#MarketDataLists"><span class="tiptext">Data</span></a></li>

    <li class="pull-right">@*<a class="data" data-toggle="tooltip" title="Data" href="#Data"></a>*@</li>
    @*@if (HttpContextSessionWrapperExtension.SessionUser.IsAdminUser)
        {
            <li class="pull-right"><a class="glyphicon glyphicon-cog MarketDataSetupLists setting" data-toggle="tab" title="Admin" href="#MarketDataSetupLists"></a></li>
        }*@
</ul>
<div class="tab-content">
    <div id="BluFractal" class="tab-pane fade">

        @if (HttpContextSessionWrapperExtension.SessionUser.IsBluFactrol)
        {
            @Html.Partial("MarketData")
        }
        else
        {
            //Empty Or We can show user don't have access
            @Html.Partial("MarketData")
        }
    </div>
    <div id="BluNeural" class="tab-pane fade">
        @if (HttpContextSessionWrapperExtension.SessionUser.IsBluNeutral)
        {
            @Html.Partial("_DailyChartData")
        }
        else
        {
            //Empty Or We can show user don't have access
        }

    </div>
    <div id="BluQuant" class="tab-pane fade">
        @*<h3>Blu Quant</h3>*@


        @if (HttpContextSessionWrapperExtension.SessionUser.IsBluQuant)
        {
            @Html.Partial("_BluQuantData")
        }
        else
        {
            //Empty Or We can show user don't have access
        }
    </div>
    <div id="BluFractal_BluNeural" class="tab-pane fade">
        @*<h3>BluQuant</h3>*@

        @if (HttpContextSessionWrapperExtension.SessionUser.IsBluCombo)
        {
            @Html.Partial("_BluQuantDataBlueNeturalData")
        }
        else
        {
            //Empty Or We can show user don't have access
        }
    </div>
    <div id="Details" style="height:700px;" class="tab-pane fade yahoo-custom">
        @*<h3>BluQuant</h3>*@
        @Html.Partial("_YahooFinanceApp")
    </div>
    <div id="MarketDataLists" style="height:700px;" class="tab-pane fade">
        @*@Html.Partial("_MyPartial", (double) @ViewBag.piValue)*@
        @Html.Partial("_MarketDataLists", (string)ViewBag.Symbol)
    </div>
    <div id="Data" class="tab-pane fade">
        <div class="tab_block">
            <div class="col-sm-12">
                <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Open</th>
                            <th>High</th>
                            <th>Low</th>
                            <th>Close</th>
                            <th>Volume</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Date</td>
                            <td>Open</td>
                            <td>High</td>
                            <td>Low</td>
                            <td>Close</td>
                            <td>Volume</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg modal_style">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Market</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info">
                    <strong>Note:</strong> If your symbol is not preset, please type it directly into the textbox
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>US Market</th>
                                <th>Foreign Market</th>
                                <th>Currency</th>
                                <th>Metal</th>
                                <th>Energy</th>
                                <th>Other</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @*<input type="checkbox" />*@
                                    <a href="#" class="@btnClass">Dow 30 - DIA</a>
                                </td>
                                <td>
                                    @*<input type="checkbox" />*@
                                    <a href="#" class="@btnClass">Europe - EZU</a>
                                </td>
                                <td><a href="#" class="@btnClass">Dollar - UUP</a></td>
                                <td><a href="#" class="@btnClass">Gold - GLD</a></td>
                                <td><a href="#" class="@btnClass">Crude Oil - USO</a></td>
                                <td><a href="#" class="@btnClass">Treasury Bonds - TLT</a></td>
                            </tr>
                            <tr>
                                <td>
                                    @*<input type="checkbox" />*@
                                    <a href="#" class="@btnClass">SP500 - SPY</a>
                                </td>
                                <td>
                                    @*<input type="checkbox" />*@
                                    <a href="#" class="@btnClass">China - FXI</a>
                                </td>
                                <td><a href="#" class="@btnClass">Euro - FXE</a></td>
                                <td><a href="#" class="@btnClass">Platinum - PPLT</a></td>
                                <td><a href="#" class="@btnClass">Brent Oil - BNO</a></td>
                                <td><a href="#" class="@btnClass">Corporate Bonds - JNK</a></td>
                            </tr>
                            <tr>
                                <td>
                                    @*<input type="checkbox" />*@
                                    <a href="#" class="@btnClass">NASD100 - QQQ</a>
                                </td>
                                <td>
                                    @*<input type="checkbox" />*@
                                    <a href="#" class="@btnClass">Japan - EWJ</a>
                                </td>
                                <td><a href="#" class="@btnClass">Pound - FXB</a></td>
                                <td><a href="#" class="@btnClass">Silver - SLV</a></td>
                                <td><a href="#" class="@btnClass">Natural Gas - UNG</a></td>
                                <td><a href="#" class="@btnClass">U.S.Real Estate - IYR</a></td>
                            </tr>
                            <tr>
                                <td>
                                    @*<input type="checkbox" />*@
                                    <a href="#" class="@btnClass">Russ2000 - IWM</a>
                                </td>
                                <td>
                                    @*<input type="checkbox" />*@
                                    <a href="#" class="@btnClass">Emerging - EEM</a>
                                </td>
                                <td><a href="#" class="@btnClass">Yen - FXY</a></td>
                                <td><a href="#" class="@btnClass">Copper - JJC</a></td>
                                <td><a href="#" class="@btnClass">Heating Oil - UHN</a></td>
                                <td><a href="#" class="@btnClass">Agriculture - DBA</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            *@
        </div>
    </div>
</div>

<div id="modalBluFractalMarkets" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg modal_style">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Market</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info">
                    <strong>Note:</strong> If your symbol is not preset, please type it directly into the textbox
                </div>
                <div class="table-responsive">
                    @*<table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>US Market</th>
                                    <th>Foreign Market</th>
                                    <th>Currency</th>
                                    <th>Metal</th>
                                    <th>Energy</th>
                                    <th>Other</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="#" class="@btnClass">Dow 30 - DIA</a>
                                    </td>
                                    <td>
                                        <a href="#" class="@btnClass">Europe - EZU</a>
                                    </td>
                                    <td><a href="#" class="@btnClass">Dollar - UUP</a></td>
                                    <td><a href="#" class="@btnClass">Gold - GLD</a></td>
                                    <td><a href="#" class="@btnClass">Crude Oil - USO</a></td>
                                    <td><a href="#" class="@btnClass">Treasury Bonds - TLT</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="@btnClass">SP500 - SPY</a>
                                    </td>
                                    <td>
                                        <a href="#" class="@btnClass">China - FXI</a>
                                    </td>
                                    <td><a href="#" class="@btnClass">Euro - FXE</a></td>
                                    <td><a href="#" class="@btnClass">Platinum - PPLT</a></td>
                                    <td><a href="#" class="@btnClass">Brent Oil - BNO</a></td>
                                    <td><a href="#" class="@btnClass">Corporate Bonds - JNK</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="@btnClass">NASD100 - QQQ</a>
                                    </td>
                                    <td>
                                        <a href="#" class="@btnClass">Japan - EWJ</a>
                                    </td>
                                    <td><a href="#" class="@btnClass">Pound - FXB</a></td>
                                    <td><a href="#" class="@btnClass">Silver - SLV</a></td>
                                    <td><a href="#" class="@btnClass">Natural Gas - UNG</a></td>
                                    <td><a href="#" class="@btnClass">U.S.Real Estate - IYR</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="@btnClass">Russ2000 - IWM</a>
                                    </td>
                                    <td>
                                        <a href="#" class="@btnClass">Emerging - EEM</a>
                                    </td>
                                    <td><a href="#" class="@btnClass">Yen - FXY</a></td>
                                    <td><a href="#" class="@btnClass">Copper - JJC</a></td>
                                    <td><a href="#" class="@btnClass">Heating Oil - UHN</a></td>
                                    <td><a href="#" class="@btnClass">Agriculture - DBA</a></td>
                                </tr>
                            </tbody>
                        </table>*@
                    <table class="table table-bordered" id="tblCategoriesList2"></table>
                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            *@
        </div>
    </div>
</div>
@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@

<script>

    var symbolTitle = '';
    $(document).ready(function () {
        $("#hfSymbolDaily").val('@ViewBag.Symbol');

        InitilizeMarketList();

        //AddContact();
        // GetMarketChartData();
        // alert('KI');
        $(".btnGetData").click(function () {
            var selected = $(this);

            if (selected.length > 0 && selected.text() != '') {
                RebindMarketData(selected.text());
            }
        });



        $(".btnGetDataBlueQuant").click(function () {
            var selected = $(this);

            if (selected.length > 0 && selected.text() != '') {
                RebindBuleQuentData(selected.text());
            }
        });


        $(".btnClassLivePortfolio").click(function () {
            //var selected = $(this);

            //if (selected.length > 0 && selected.text() != '') {

            //    var allData = selected.text().split(',');

            //    $('#BlueQuanteCode').val(allData[0]);

            //    $('#btnloanQuantData').click();
            //}

            return false;
        });



        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            if ($('#code').val().trim().length == 0) {
                alert('Please select a symbol first.');

                if (!$('#blude').hasClass('active')) {
                    $('#blude').click();
                    $('#code').focus();
                }
            }
        });


        $(document).bind('keypress', function (e) {
            if (e.keyCode == 13) {
                $('#btnLoad').trigger('click');
            }
        });


        //$('#iframe11').load(function () {
        //    debugger;
        //    //var newCss = ".yahoo-custom #maincontent, .yahoo-custom .sixwide{ width: 100% !important;} .yahoo-custom #maincontent .threewide {width: 50% !important;} .yahoo-custom #maincontent .threewide.addgutter { margin-right: 0px !important;} .yahoo-custom #maincontent .threewide.addgutter .block {width: 100% !important;}";
        //    $(this).contents().find("#maincontent").css({
        //        width: 100 % !important,
        //    });

        //    $(this).contents().find(".sixwide").css({
        //        width: 100 % !important,
        //    });
        //});


        $("#li" + '@activeTab').addClass("active");
        $("#@activeTab").addClass("in active");
    });




</script>